body {
   font-family: Arial;
}

h1 {
   margin: 10px;
}

label {
   display: inline-block;
   width: 100px;
   vertical-align: top;
}

.error {
   color: red;
}

body > form {
   background-color: lightgoldenrodyellow;
   border-radius: 5px;
   margin: 10px;
   padding: 10px;
}

main {
   display: flex;
   flex-wrap: wrap;
}

.message {
   background-color: lightblue;
   border-radius: 5px;
   width: 300px;
   margin: 10px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.message > div {
   display: flex;
   padding: 10px;
}

.message > div > p:first-child {
   flex: auto; 
}

.message > div > p {
   margin: 0;
}

.message a {
   text-decoration: none;
   margin-left: 10px;
}

/*
button {
   background-color: rgba(24, 100, 171, 0.1);
   border: 0px solid #3498db;
}*/